# Python
__pycache__/
*.pyc
*.pyo

# Entornos virtuales
.venv/
venv/

# Variables de entorno (CRÍTICO)
.env
*.env

# Bases de datos locales
*.db

# Alembic
alembic/__pycache__/

# Editor
.vscode/

# Archivos innecesarios
*.txt